{% extends 'player_sidenav.html' %}

{% block title %}
<title>Last Game(s)</title>
{% endblock %}

{% block sidebar %}
    <ul class="player-sidebar-menu">
        <li class="player-sidebar-menu-item"><a href="{{url_for('player_page', id=stats['PLAYER_ID'])}}" class="player-sidebar-menu-item-text">Profile</a></li>
        <li class="player-sidebar-menu-item active"><a href="#" class="player-sidebar-menu-item-text">Last Game(s)</a></li>
        <li class="player-sidebar-menu-item"><a href="{{url_for('analytics', id=stats['PLAYER_ID'])}}" class="player-sidebar-menu-item-text">Analytics </a></li>
        <li class="player-sidebar-menu-item"><a href="{{url_for('compare', id=stats['PLAYER_ID'])}}" class="player-sidebar-menu-item-text">Compare</a></li>
        <li class="player-sidebar-menu-item"><a href="{{url_for('career_stats', id=stats['PLAYER_ID'])}}" class="player-sidebar-menu-item-text">Career Stats</a></li>
        <li class="player-sidebar-menu-item"><a href="{{url_for('news', id=stats['PLAYER_ID'])}}" class="player-sidebar-menu-item-text">News</a></li>
    </ul>
{% endblock %}


    {% block body %}
<div class="" style="height: 41em;margin-left:  17.6%; margin-top: 3.5px; background-color: #f9f8f8;">

            <div class="container profile-content">
                <div class="row">
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">Matchup</small>
                        <p class="player-attribute">{{last_game['MATCHUP'][3:]}}</p>
                    </div>
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">Minutes</small>
                        <p class="player-attribute">{{last_game['MIN']}}</p>
                    </div>
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">Points</small>
                        <p class="player-attribute">{{last_game['PTS']}}</p>
                    </div>
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">Rebounds</small>
                        <p class="player-attribute">{{last_game['REB']}}</p>
                    </div>
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">Assists</small>
                        <p class="player-attribute">{{last_game['AST']}}</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">Steals</small>
                        <p class="player-attribute">{{last_game['STL']}}</p>
                    </div>
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">Blocks</small>
                        <p class="player-attribute">{{last_game['BLK']}} </p>
                    </div>
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">Turnovers</small>
                        <p class="player-attribute">{{last_game['TOV']}} </p>
                    </div>
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">Result</small>
                        {% if last_game['WL'] == None %}
                            <p class="player-attribute">In Progress</p>
                        {% else %}
                            <p class="player-attribute">{{last_game['WL']}} </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}