{% extends 'player_sidenav.html' %}

{% block title %}
<title>Player Profile</title>
{% endblock %}

{% block main %}
<h1>Player Profile</h1>
{% endblock %}

{% block sidebar %}
    <ul class="player-sidebar-menu">
        <li class="player-sidebar-menu-item active"><a href="#" class="player-sidebar-menu-item-text">Profile</a></li>
        <li class="player-sidebar-menu-item"><a href="{{url_for('last_games', id=stats['PLAYER_ID'])}}" class="player-sidebar-menu-item-text">Last Game(s)</a></li>
        <li class="player-sidebar-menu-item"><a href="{{url_for('analytics', id=stats['PLAYER_ID'])}}" class="player-sidebar-menu-item-text">Analytics</a></li>
        <li class="player-sidebar-menu-item"><a href="{{url_for('compare', id=stats['PLAYER_ID'])}}" class="player-sidebar-menu-item-text">Compare</a></li>
        <li class="player-sidebar-menu-item"><a href="{{url_for('career_stats', id=stats['PLAYER_ID'])}}" class="player-sidebar-menu-item-text">Career Stats</a></li>
        <li class="player-sidebar-menu-item"><a href="{{url_for('news', id=stats['PLAYER_ID'])}}" class="player-sidebar-menu-item-text">News</a></li>
    </ul>
{% endblock %}

    {% block body %}
        <div class="" style="height: 41em;margin-left:  17.6%; margin-top: 3.5px; background-color: #f9f8f8;">

            <div class="container profile-content">
                <div class="row">
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">Height</small>
                        <p class="player-attribute">{{info['HEIGHT']}}</p>
                    </div>
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">Weight</small>
                        <p class="player-attribute">{{info['WEIGHT']}}lbs</p>
                    </div>
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">Experience</small>
                        <p class="player-attribute">{{info['SEASON_EXP']}}</p>
                    </div>
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">Position</small>
                        <p class="player-attribute">{{info['POSITION']}}</p>
                    </div>
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">Team</small>
                        <p class="player-attribute">{{info['TEAM_NAME']}}</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">PPG</small>
                        <p class="player-attribute">{{stats['PTS']}}</p>
                    </div>
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">RPG</small>
                        <p class="player-attribute">{{stats['REB']}} </p>
                    </div>
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">APG</small>
                        <p class="player-attribute">{{stats['AST']}} </p>
                    </div>
                    <div class="col-md-2 player-profile-attributes">
                        <small style="float: right;">PIE</small>
                        <p class="player-attribute">{{stats['PIE']}} </p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}



