{% extends 'player_sidenav.html' %}

{% block title %}
<title>Player Profile</title>
{% endblock %}

{% block main %}
<h1>Player Profile</h1>
{% endblock %}

{% block sidebar %}
    <ul class="player-sidebar-menu">
        <li class="player-sidebar-menu-item active"><a href="#" class="player-sidebar-menu-item-text">Profile</a></li>
        <li class="player-sidebar-menu-item"><a href="{{url_for('last_games', id=stats['PLAYER_ID'])}}" class="player-sidebar-menu-item-text">Last Game(s)</a></li>
        <li class="player-sidebar-menu-item"><a href="{{url_for('analytics', id=stats['PLAYER_ID'])}}" class="player-sidebar-menu-item-text">Analytics</a></li>
        <li class="player-sidebar-menu-item"><a href="{{url_for('compare', id=stats['PLAYER_ID'])}}" class="player-sidebar-menu-item-text">Compare</a></li>
        <li class="player-sidebar-menu-item"><a href="{{url_for('career_stats', id=stats['PLAYER_ID'])}}" class="player-sidebar-menu-item-text">Career Stats</a></li>
        <li class="player-sidebar-menu-item"><a href="{{url_for('news', id=stats['PLAYER_ID'])}}" class="player-sidebar-menu-item-text">News</a></li>
    </ul>
{% endblock %}

    {% block body %}
        <div class="" style="height: 41em;margin-left:  17.6%; margin-top: 3.5px; background-color: #f9f8f8;">

            <div class="container">
                <div class="row">
                    <div class="col-md-2">Height: {{info['HEIGHT']}}</div>
                    <div class="col-md-2">Weight: {{info['WEIGHT']}}lbs</div>
                    <div class="col-md-2">Experience: {{info['SEASON_EXP']}}</div>
                    <div class="col-md-2">Position: {{info['POSITION']}}</div>
                    <div class="col-md-2">Team: {{info['TEAM_NAME']}}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3">{{stats['PTS']}} PPG</div>
                    <div class="col-md-3">{{stats['REB']}} RPG</div>
                    <div class="col-md-3">{{stats['AST']}} APG</div>
                    <div class="col-md-3">{{stats['PIE']}} PIE</div>
                </div>
            </div>
        </div>
    {% endblock %}



