# Created by .ignore support plugin (hsz.mobi)
.idea
.env
*.pyc
start
*.sqlite
.vscode
*.bak
*.dat
*.dir
*.pid
*.rdb
/stat-watch/Lib
/stat-watch/tcl
*.lock
Pipfile.lock
*.log
_trial_temp/test.log
_trial_temp/_trial_marker
Pipfile.lock
