[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
requests = "*"
Flask-SQLAlchemy = "*"
nba_py = "*"
python-decouple = "*"
"beautifulsoup4" = "*"
"psycopg2" = "*"
Flask-Login = "*"
Flask-WTF = "*"
Flask-Migrate = "*"
Flask-Script = "*"


[dev-packages]

