[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
requests = "*"
flask-sqlalchemy = "*"
nba-py = "*"
python-decouple = "*"
"beautifulsoup4" = "*"


[dev-packages]

