[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
requests = "*"
flask-sqlalchemy = "*"
nba-py = "*"
python-decouple = "*"
"beautifulsoup4" = "*"
"psycopg2" = "*"
flask-login = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-script = "*"
requests-cache = "*"
celery = "==3.1.17"
twisted = "*"


[dev-packages]

