<div class="container">
    {% if current_user.players %}
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Player</th>
              <th style="width: 12%;" scope="col">Matchup</th>
              <th scope="col">Minutes</th>
              <th scope="col">Points</th>
              <th scope="col">Rebounds</th>
              <th scope="col">Assists</th>
              <th scope="col">Steals</th>
              <th scope="col">Blocks</th>
              <th scope="col">Turnovers</th>
              <th style="width: 12%;" scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
          {% for player in current_user.players %}
            <tr>
              <td>
                <a href="{{url_for('player_page', id=player.pid)}}">
                  <img src="{{player.picture}}" style="width: 40%;" alt="avatar" >
                  <h6 style="color: steelblue;">{{player.full_name}}</h6>
                </a>
              </td>
              <td>{{player.last_game_stats.matchup[3:]}}</td>
              <td>{{player.last_game_stats.minutes}}</td>
              <td>{{player.last_game_stats.points}}</td>
              <td>{{player.last_game_stats.rebounds}}</td>
              <td>{{player.last_game_stats.assists}}</td>
              <td>{{player.last_game_stats.steals}}</td>
              <td>{{player.last_game_stats.blocks}}</td>
              <td>{{player.last_game_stats.turnovers}}</td>
              <td>{{player.last_game_stats.date.strftime('%m-%d-%Y')}}</td>

                <td>
                    <a class="remove-player-btn" href="{{url_for('remove_player', id=player.pid)}}">&times;</a>
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

    {% endif %}
</div>