.stat-item{
    font-family: 'Quicksand', Arial, sans-serif;
}

.stat-field{
    border: 1px solid black;
}

.player-profile-pic{
    border: 5px solid black;
}

.link.dim.f6.f5-ns.dib.mr3:hover {
    text-decoration: none !important;
}

.table td, .table th{
    vertical-align: middle !important;
    font-family: "Quicksand", Arial, sans-serif;
}

.remove-player-btn{
    color: red;
    font-size: 25px;
}

.remove-player-btn:hover{
    text-decoration: none !important;
    color: darkred !important;
}

.player-sidebar-menu{
    list-style: none;
    margin-right: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.player-sidebar-menu-item{
    margin-bottom: 40px;
}

.player-sidebar-menu-item:hover {
    background-color: #efefefb3;
    border-radius: 5px;
    font-weight: bold;
    color: bisque;
}

.active{
    background-color: #efefefb3;
    border-radius: 5px;
    font-weight: bold;
    color: bisque;
    text-decoration: none !important;
}

.player-sidebar-menu-item-text:hover{
    text-decoration: none !important;
}

.player-sidebar-menu-item-text{
    color: #3d7fc6;
    font-family: Jura;
}

.sidebar{
    position: fixed;
    float: left;
    height: 100%;
    width: 17.5%;
    padding-left: 10px;
    text-align: center;
    top: 94px;
    box-shadow: 1px 1px 1px 0px lightgrey;
}

.add-remove-btn{
    margin-top: -30px;
    width:  50%;
    height:  3.5%;
    padding-top: 0px;
    margin-left: 7.5px;
}

.player-profile-attributes{
    border: 1px solid;
    margin: 2% auto;
    height: 100px;
}

.profile-content{
    padding-top: 4%;
}

.player-attribute{
    font-size: 21px;
    text-align:  center;
    margin-top: 33px;
    font-family: Quicksand;
    width: 100%;
}