{% extends 'base.html' %}

    {% block title %}
    <title>Home</title>
    {% endblock %}

    {% block content %}
    <main role="main">
        <div class="jumbotron tc">
            <h4>My Players</h4>
        </div>

        <div class="tc">
            {% include "includes/team.html" %}
            {% if current_user.is_authenticated %}
            <a href="{{url_for('logout')}}">Logout</a>
            {%else%}
            <a href="{{url_for('login')}}">Login</a>
            {%endif%}
        </div>
    </main>
    {% endblock %}
