{% extends 'base.html' %}

    {% block title %}
    <title>Home</title>
    {% endblock %}

    {% block content %}
    <h1 class="f2 courier tc">Stat Watch</h1>
    <div class="tc">
        <h4>Search Player</h4>
        <form action="{{ url_for('search') }}" method="post">
        <input type="text" name="first name" placeholder="first name">
        <input type="text" name="last name" placeholder="last name">
        <input type="submit" value="Search">
    </form>

    </div>

    <div class="tc">
        {% if current_user.is_authenticated %}
        <a href="{{url_for('logout')}}">Logout</a>
        {%else%}
        <a href="{{url_for('login')}}">Login</a>
        {%endif%}
    </div>
    {% endblock %}
