{% extends 'base.html' %}

    {% block title %}
    <title>Home</title>
    {% endblock %}

    {% block content %}
    <main id="app" role="main">
        <div class="jumbotron tc">
            <h4>[[message]]</h4>
        </div>

        <div class="tc">
            {% include "includes/team.html" %}
            {% if current_user.is_authenticated %}
            <a href="{{url_for('logout')}}">Logout</a>
            {%else%}
            <a href="{{url_for('login')}}">Login</a>
            {%endif%}
        </div>
    </main>

    <script>
        new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                message: 'Players'
            }
        })
    </script>
    {% endblock %}

