{% extends 'base.html' %}


{% block main %}
{% endblock %}

{% block content %}

<div class="sidebar">

    <div class="tc pa3 profilepic">
        <img class="pa1 ba b--black-10" style="width: 14em;height: 11em;" src="{{profile_pic}}" alt="avatar">
        <h5 style="font-family: quicksand;color: #355f83;">{{stats['PLAYER_NAME']}}</h5>
    </div>

    {% block sidebar %}
    {% endblock %}

    {% if has_player %}
    <button class="btn btn-danger add-remove-btn">Drop Off</button>
    {% else %}
    <button class="btn btn-success add-remove-btn">Pick Up</button>
    {% endif %}

</div>

    {% block body %}
    {% endblock %}

{% endblock %}



