{% extends 'base.html' %}


{% block main %}
{% endblock %}

{% block content %}

<div class="sidebar">

    <div class="tc pa3 profilepic">
        <img class="pa1 ba b--black-10" style="width: 14em;height: 11em;" src="{{profile_pic}}" alt="avatar">
        <h5 style="font-family: quicksand;color: #355f83;">{{stats['PLAYER_NAME']}}</h5>
    </div>

    {% block sidebar %}
    {% endblock %}

    {% if has_player %}
    <div id="add-remove-btn-container">
        <button id="remove-player-btn" class="btn btn-danger add-remove-btn">Drop Off</button>
        {% else %}
        <button id="add-player-btn" class="btn btn-success add-remove-btn">Pick Up</button>
        {% endif %}
    </div>

</div>

    {% block body %}
    {% endblock %}

    {% block scripts%}
        <script>
            $('#add-player-btn').on('click', function(){
                $.ajax({
                    method: 'POST',
                    url: '{{url_for('add_player', id=stats['PLAYER_ID'])}}',
                    success: function(data){
                        console.log(data['message'])
                        window.location.reload()
                        //$('body').load('{{url_for('player_page', id=stats['PLAYER_ID'])}}' + ' #add-remove-btn-container')
                    }
                })
            })

            $('#remove-player-btn').on('click', function(){
                $.ajax({
                    method: 'POST',
                    url: '{{url_for('remove_player', id=stats['PLAYER_ID'])}}',
                    success: function(data){
                         console.log(data['message'])
                         window.location.reload()
                        //$('body').load('{{url_for('player_page', id=stats['PLAYER_ID'])}}' + ' #add-remove-btn-container')
                    }
                })
            })
        </script>
    {% endblock %}
{% endblock %}



