{% extends 'base.html' %}

    {% block title %}
    <title>Player Search</title>
    {% endblock %}

    {% block content %}
    <div class="tc">
        <article class="br2 ba dark-gray b--black-10 mv4 w-100 w-50-m w-25-l mw5 center" style="background-color: #fafafaad;">
            <img src="{{profile_pic}}" class="db w-100 br2 br--top" alt="{{player_name}}" style="border: 1px solid #adadad6b;width: 99.5%;">
          <div class="pa2 ph3-ns pb3-ns" style="background: url('static/subtle_patterns/crossword/crossword.png');">
            <div class="dt w-100 mt1">
              <div class="tc">
                <h1 class="f5 f4-ns mv0" style="font-family: 'Exo', Arial, sans-serf;color: steelblue;">{{player_name}}</h1>
              </div>
            </div>
            <p class="f6 lh-copy measure mt2 mid-gray">
                <p class="stat-item"><b>PPG:</b> {{player_ppg}}</p>
                <p class="stat-item"><b>RPG:</b> {{player_rpg}}</p>
                <p class="stat-item"><b>APG:</b> {{player_apg}}</p>
                <p class="stat-item"><b>PIE:</b> {{player_pie}}</p>
                <p class="stat-item"><b>PER:</b> {{player_per}}</p>
            </p>
          </div>
        </article>

        {% if current_user.is_authenticated %}
        <form action="{{url_for('add_player', id=player_id)}}" method="post">
            <input type="hidden" value="{{player_name}}" name="player_name">
            <input type="hidden" value="{{profile_pic}}" name="profile_pic">
            <input type="hidden" value="{{player_dob}}" name="player_dob">
            <input type="hidden" value="{{player_height}}" name="player_height">
            <input type="hidden" value="{{player_weight}}" name="player_weight">
            <input type="hidden" value="{{player_exp}}" name="player_exp">
            <input type="hidden" value="{{player_team}}" name="player_team">
            <input type="hidden" value="{{player_position}}" name="player_position">
            <input type="hidden" value="{{player_ppg}}" name ="player_ppg">
            <input type="hidden" value="{{player_rpg}}" name="player_rpg">
            <input type="hidden" value="{{player_apg}}" name="player_apg">
            <input type="hidden" value="{{player_pie}}" name="player_pie">
            <input type="hidden" value="{{player_per}}" name="player_per">
            <input type="submit" value="Add">
        </form>
        {% endif %}
    </div>
    {% endblock %}
